


body { 
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  font-weight: 150;
  background-color: #f0f0f0;
  margin:0 auto;
  max-width: 1300px;
  padding-top: 60px;
}



h1 {
  font-family: 'Tauri', sans-serif;
  color: #333;
  margin-top: 24px;
  margin-bottom: 16px;
  margin: 30px;
  font-weight: 600;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  color: #333;
  margin-top: 24px;
  margin-bottom: 16px;
  margin: 30px;
  font-weight: 600;
  text-align: center;
}


.big { 
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.small {
  font-size: 1.25em;
}

/* Paragraph */
p {
  margin-bottom: 0;
  font-weight: bold;
}

section {
  margin-bottom: 2.5em;  /* We want a little more space between sections */
}

a {
  color: #106b51;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
  
/* Images */
img {
  max-width: 100%;
  height: auto;
}

#chartGrid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
  gap: 50px;
  justify-content: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border: 5px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px;
  width: 97%; 
  box-sizing: border-box;
  overflow: hidden; 
}



figcaption, p {
  width: 100%;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  margin-bottom: 1.5em;
}

/* Shared button styles */
.top-right-link {
  position: fixed;
  top: 10px;
  text-decoration: none;
  color: #ffffff;
  background-color: #4d4b4b;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  z-index: 100; /* Ensure the buttons appear above other content */
}

.top-right-link:hover {
  background-color: #e0e0e0;
}

/* Unique positions */
#main-project-link {
  right: 120px; /* Offset for the first button */
}

#portfolio-link {
  right: 10px; /* Offset for the second button */
}


@media (max-width: 768px) {
  #chartGrid {
    justify-content: center;
  }
  figure {
    flex: 1 1 100%;
  }
}

.chart-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
    gap: 100px;
}

.underlined {
  text-decoration: underlrine;
}

.custom-list {
  font-size: 20px; 
  font-weight: bold;
  line-height: 2; 
  font-family: 'Raleway', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #373434; /* Dark grey background */
    color: #ffffff; /* White text for general content */
  }

  h1, h2, h3, h4, h5, h6 {
    color: #ffffff; /* White text for titles */
  }

  a {
    color: #87ceeb; /* Light blue for links to contrast with dark background */
  }

  a:hover {
    text-decoration: underline;
    color: #add8e6; /* Slightly lighter blue on hover */
  }

  p {
    color: #ffffff; /* White text for paragraphs */
  }

  .custom-list {
    color: #ffffff; /* White text for lists */
  }

  /* Override text color inside figures in dark mode */
  figure, figure p {
    color: #000000; /* Black text inside figure elements */
  }
}

