


body { 
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  font-weight: 150;
  background-color: #f0f0f0;
  margin:0 auto;
  max-width: 1300px;
  padding-top: 60px;
}



h1 {
  font-family: 'Tauri', sans-serif;
  color: #333;
  margin-top: 24px;
  margin-bottom: 16px;
  margin: 30px;
  font-weight: 600;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  color: #333;
  margin-top: 24px;
  margin-bottom: 16px;
  margin: 30px;
  font-weight: 600;
  text-align: center;
}


.big { 
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.small {
  font-size: 1.25em;
}

/* Paragraph */
p {
  margin-bottom: 0;
  font-weight: bold;
}

section {
  margin-bottom: 2.5em;  
}

a {
  color: #106b51;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
  
/* Images */
img {
  max-width: 100%;
  height: auto;
}

#chartGrid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
  gap: 50px;
  justify-content: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border: 5px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px;
  width: 97%; 
  box-sizing: border-box;
  overflow: hidden; 
}



figcaption, p {
  width: 100%;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  margin-bottom: 1.5em;
}

/* Shared button styles */
.top-right-link {
  position: fixed;
  top: 10px;
  text-decoration: none;
  color: #ffffff;
  background-color: #4d4b4b;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  z-index: 100; 
}

.top-right-link:hover {
  background-color: #e0e0e0;
}

/* Unique positions */
#main-project-link {
  right: 120px; 
}

#portfolio-link {
  right: 10px; 
}


@media (max-width: 768px) {
  #chartGrid {
    justify-content: center;
  }
  figure {
    flex: 1 1 100%;
  }
}

.chart-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
    gap: 100px;
}

.underlined {
  text-decoration: underline;
}

.custom-list {
  font-size: 20px; 
  font-weight: bold;
  line-height: 2; 
  font-family: 'Raleway', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #373434;
    color: #ffffff; 
  }

  h1, h2, h3, h4, h5, h6 {
    color: #ffffff; 
  }

  a {
    color: #87ceeb; 
  }

  a:hover {
    text-decoration: underline;
    color: #add8e6; 
  }

  p {
    color: #ffffff; 
  }

  .custom-list {
    color: #ffffff; 
  }


  figure, figure p {
    color: #000000; 
  }
}


a.button-link {
  display: inline-block; 
  padding: 10px 20px;    
  background-color: #007bff; 
  color: white;          
  text-align: center;    
  text-decoration: none; 
  border-radius: 5px;    
  font-size: 16px;       
  border: none;          
  transition: background-color 0.3s ease; 
}


a.button-link:hover {
  background-color: #0056b3; 
  color: #fff;              
}

a.button-link:visited {
  background-color: #6c757d; 
}
